
<div class="annie-home">
  <h1>Annie</h1>
  <%= image_tag "gun_logo.png", class: "annie-home-logo" %>
  <%= link_to "Sign In", new_user_session_path, class: 'btn btn-secondary' %>
  <%= link_to "create new account", new_user_registration_path %>
</div>
